@charset "utf-8";

:root {
  font-size: 16px;
  font-family: 'Hahmlet', serif;
  --c-bg: #f24e1e;
}

.mw {
  max-width: 1100px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

img {
  width: 100%;
}

/* Header 영역 */
.wrap {
  background-color: var(--c-bg);
}
.hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.logo {
  width: 120px;
}
.login,
.myPage {
  font-size: 1.25rem;
  padding: 1rem;
}

/* MainBanner 영역 */
.main {
  background-color: var(--c-bg);
  height: calc((100vh - 20vh));
  padding: 5rem 0;
}
.MainBanner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.MainBanner img {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.main_logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
}
.maps,
.mart {
  width: 100%;
  padding-top: 22%;
  position: relative;
}
.maps > img,
.mart > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.maps {
  animation: fadeInRotate ease-in backwards 2s;
  animation-delay: 1s;
}
.mart {
  animation: brrr 2s ease-in backwards;
  animation-delay: 3s;
}
.mart > img {
  left: 70%;
}
.main_logoP {
  position: absolute;
  top: 0;
  left: 100%;
  width: 20%;
  font-size: 1.25rem;
  color: beige;
  animation: blurFadeIn 1s ease-in backwards 3s;
}
.cartGif {
  animation: blurFadeIn 1s ease-in backwards 3s;
  width: 100%;
  padding: 1rem;
}
.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.choice_left {
  width: 50%;
  text-align: end;
  padding-right: 3rem;
  animation: fadeInRotate ease-in backwards;
  animation-duration: 0.5s;
  animation-delay: 3s;
}
.choice_left svg {
  cursor: pointer;
}
.choice_left svg:hover path:nth-of-type(1) {
  fill: bisque;
}
.choice_left svg:hover path:nth-of-type(2) {
  fill: green;
}
.choice_left svg:hover path:nth-of-type(3) {
  fill: green;
}
.choice_right {
  width: 50%;
  padding-left: 3rem;
  animation: fadeInRotate ease-in backwards;
  animation-duration: 0.5s;
  animation-delay: 3s;
}
.choice_right svg {
  cursor: pointer;
}
.choice_right svg:hover path:nth-of-type(1) {
  fill: white;
}
.choice_right svg:hover path:nth-of-type(2) {
  fill: white;
}
.choice_right svg:hover {
  fill: black;
}

@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
}
@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
@keyframes brrr {
  0% {
    opacity: 0;
    left: 100%;
  }
  5% {
    opacity: 1;
    left: 0%;
  }
  10% {
    left: 51%;
  }
  15% {
    left: 10%;
  }
  20% {
    left: 41%;
  }
  25% {
    left: 10%;
  }
  30% {
    left: 31%;
  }
  35% {
    left: 7%;
  }
  40% {
    left: 21%;
  }
  45% {
    left: 5%;
  }
  50% {
    left: 16%;
  }
  60% {
    left: 5%;
  }
  70% {
    left: 12%;
  }
  80% {
    left: 3%;
  }
  90% {
    left: 8%;
  }
  100% {
    left: 0%;
  }
}

/* Footer 영역 */
.ft {
  display: flex;
  align-items: center;
  height: 10vh;
}
.ftLogo {
  width: 120px;
}
.ftCon {
  font-size: 2rem;
}
/* MainList */
/* CartList 영역 */
.CartList_name {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.CartList_name span {
  color: #39b54a;
  margin-right: 0.5rem;
}
.CartList_name img {
  width: 2rem;
  margin-left: 0.5rem;
}
.CartList_ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.CartList_li {
  border: 3px solid #0f0f0f;
  border-radius: 2rem;
  overflow: hidden;

  width: calc(100% / 2 - 1rem);
  margin: 1rem 0;
}
.CartList_li:hover {
  box-shadow: 6px 5px 1px #0f0f0f;
}
.CartList_li:nth-of-type(2n) {
  margin-right: 0;
}
.CartList_Pcon {
  border-bottom: 3px solid #0f0f0f;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #ff7bac;
}
.markCon {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.like {
  width: 1.2rem;
  height: 1.2rem;
}
.like path {
  fill: transparent;
  stroke-width: 30;
  stroke: red;
  cursor: pointer;
  transition: 0.2s;
}
.like:hover svg path {
  fill: #ff4b4b;
}
.like > svg > path.on {
  fill: #ff0000;
}
.bookmark {
  cursor: pointer;
}
.bookmark > svg > path.on {
  fill: #ffc700;
}
.bookmark:hover svg {
  fill: #f1cb3f;
}
.CartList_contents {
  padding: 1rem;
}
.LinkCon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.LinkCon a:hover {
  color: tomato;
}
.CartList_more {
  padding: 0.5rem;
}

/* BestPlace 영역 */
.BestPlace {
  position: relative;
  border: 3px solid #0f0f0f;
  border-radius: 50px;
  margin: 4rem auto 4rem;
  border: 3px solid red;
}
.BestPlaceSvg {
  position: absolute;
  top: -18%;
  left: -8%;
  width: 180px;
}

/* HotList 영역 */
.HotList_Title,
.PickList_title,
.BookMarkList_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.HotList_Title .like svg path,
.PickList_title .like svg path,
.BookMarkList_title .like svg path {
  fill: #ff4b4b;
}
.HotList_Title span,
.PickList_title span,
.BookMarkList_title span {
  margin-left: 0.3rem;
  font-weight: 600;
}
.HotList_ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.HotList_li {
  border: 3px solid #0f0f0f;
  border-radius: 1rem;
  width: calc(100% / 3 - 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: relative;
}
.HotList_li:hover {
  box-shadow: 6px 5px 1px #0f0f0f;
}
.HotList_imgcon {
  width: 50%;
  padding-top: 50%;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.HotList_imgcon img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.HotList_pcon {
  width: 50%;
  padding-left: 0.5rem;
}
.HotList_pcon > * {
  padding: 0.5rem 0;
}
.HotList_li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* PickList, BookMarkList 영역 */
.BestPlace_ListCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.PickList,
.BookMarkList {
  width: calc(100% / 2 - 1rem);
}
.PickList_ul,
.BookMarkList_ul {
  width: 100%;
}
.PickList_li,
.BookMarkList_li {
  border: 3px solid #0f0f0f;
  border-radius: 20px;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}
.PickList_li:hover,
.BookMarkList_li:hover {
  box-shadow: 3px 3px 1px #0f0f0f;
}

/* Self 영역 */
/* Select 영역 */

.Select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Select .selectCon select {
  margin: 1rem 1rem 1rem 0;
  padding: 0.5rem 2.5rem;
  border: 2px solid #0f0f0f;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.Select .selectCon option {
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
}
.SelectImgCon {
  width: 40px;
}
.SelectImgCon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SelfHotList 영역 */
.SelfHotList {
  margin: 1rem 0 3rem;
}
.SelfHotList_P {
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.SelfHotList_P span {
  color: #ff0000;
  margin-right: 0.2rem;
}
.SelfHotList_P img {
  margin-left: 0.2rem;
  width: 1.2rem;
}
.SelfHotList_ImgCon {
  position: relative;
  overflow: hidden;
  border: 2px solid #0f0f0f;
  border-radius: 20px;
  width: 100%;
  padding-top: 100%;
  cursor: pointer;
}
.SelfHotList_ImgCon > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.SelfHotList_ImgCon:hover > img {
  transform: translate(-50%, -50%) scale(1.1);
}
/* .SelfHotList_ImgCon:hover .SelfHotList_like {
  top: 0;
} */
.SelfHotList_ImgCon:hover .SelfHotList_name {
  bottom: 0;
}
.SelfHotList_name {
  transition: 0.3s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #0f0f0f40;
  color: #fff;
}
.SelfHotList_like {
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.5rem;
  background-color: #0f0f0f20;
  color: #fff;
}
.SelfHotList_like img {
  width: 1rem;
  height: 1rem;
  margin: 0 0.2rem;
}
.swiper-pagination {
  display: none;
}

/* SelfList 영역 */
.SelfList_name {
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.SelfList_name span:first-of-type {
  color: #3fa9f5;
}
.SelfList_name img {
  margin-left: 0.2rem;
  width: 1.5rem;
}
.selfList_ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.selfList_li {
  width: calc(100% / 2 - 1rem);
}
.selfList_list {
  width: 100%;
  border: 3px solid #0f0f0f;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  cursor: pointer;
}
.selfList_list:hover {
  box-shadow: 3px 3px 1px #0f0f0f;
}
.selfList_list_title {
  width: 80%;
  padding: 0.5rem 1rem;
}
.selfList_imgCon {
  width: 20%;
}
.selfList_list img {
  width: 1rem;
}

/* paginations 영역 */
.paginations {
  margin-bottom: 4rem;
}
.paginations button {
  border: 2px solid #0f0f0f;
  border-radius: 6px;
  outline: none;
  padding: 0.3rem;
  margin: 1rem 1rem 1rem 0;
  background-color: transparent;
}
.paginations button:hover {
  background-color: #39b54a;
}
